.home-container {
	background-color: black;
	height: 90vh;
	display: flex;
}

.container-box-text {
	background-color: antiquewhite;
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.container-box-image img {
	width: 100%;
}

.container-box-name h1 {
	background-color: aliceblue;
}

.container-box-name p {
}
